

<footer class="container-fluid bg-dark p-0 m-0"  >
  <div class="d-flex text-white" >
    <div class="w-25 p-2 text-center">
      <img src="{{asset('img/logo_vparrot.png')}}" alt="Garage Parrot"  height="100px"/>
    </div>
    <div class="w-25 p-2 text-center">
      <h5>Adresse</h5>
      <p>32 rue des plantes</p>
      <button class="btn btn-danger ">06.09.12.38.77</button>
    </div>
    <div class="w-25 p-2 text-center">
      <h5>Pages</h5>
      <p>Accueil</p>
      <p>Nos occasions</p>
      <p>Contactez-nous</p>
      
    </div>
    <div class="w-25 p-2 text-center">
   
      <ul>
    
      </ul>
      
    </div>
  </div>


</footer>