<div class="px-5">
    {{ form_start(form,  {'attr': {'style': 'width: 15%;'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn btn-success my-2">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}
    </div>
