{% extends "base.html.twig" %}

{% block title %}VParrot
{% endblock %}

{% block body %}

  <div class="mx-auto">
     <h1 class="">Formulaire de contact</h1>
     
     {{form(form,  {'attr': {'style': 'width:60%;'}}) }}
    </div>
  <div>


  <div class="fullbackgound pt-5">
    <img src="{{ asset('img/background_contact.png') }}" alt="Description de l'image" class="" style="width: 100%; height: auto">
  </div>

{% endblock %}