{% extends "base.html.twig" %}

{% block title %}VParrot
{% endblock %}

{% block body %}

  <div class="d-flex flex-column align-items-center ">
     <h1 class="">Formulaire de contact</h1>
     {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
              {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
     {{form(form,  {'attr': {'style': 'width:400px;'}}) }}
  </div>
  


  <div class="fullbackgound pt-5">
    <img src="{{ asset('img/background_contact.png') }}" alt="Description de l'image" class="" style="width: 100%; height: auto">
  </div>

{% endblock %}