{% extends 'base.html.twig' %}

{% block title %}Modèle{% endblock %}

{% block body %}
    <h1 class="px-5">Ajouter un modèle</h1>

    {{ include('admin/model/_form.html.twig') }}

    <a href="{{ path('app_model_list') }}" class="btn btn-secondary my-2 mx-5">Retour</a>
{% endblock %}
