{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<h1 class="ms-5">Ajouter un service</h1>

    {{ include('admin/service/_form.html.twig') }}

    <a href="{{ path('app_service_list') }}" class="btn btn-secondary my-2 mx-5">Retour</a>
{% endblock %}
