<form method="post" action="{{ path('app_color_delete', {'id': color.id}) }}" onsubmit="return confirm('Êtes-vous sûr?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ color.id) }}">
    <button class="btn btn-danger ms-5">Supprimer</button>
</form>
