{% extends 'base.html.twig' %}

{% block title %}Energie{% endblock %}

{% block body %}
    <h1 class="px-5">Ajouter une énergie</h1>

    {{ include('admin/energy/_form.html.twig') }}

    <a href="{{ path('app_energy_list') }}" class="btn btn-secondary my-2 mx-5">Retour</a>
{% endblock %}
